<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="estilos.css"/>
	<f:event listener="#{masterBean.verificarSesion()}" type="preRenderView"></f:event>
	
	<title><ui:insert name="titulo">Blog - Inicio</ui:insert></title>
</h:head>
<body class="resolucion">
<ui:insert name="header">
	<p:menubar>
	<p:menuitem value="Inicio" url="../protegido/principal.xhtml" icon="pi pi-home" />
	<p:menuitem value="Publicaciones" url="../protegido/publicaciones.xhtml" icon="pi pi-cloud" />
	
        <p:submenu label="Seguidores" icon="pi pi-file">
                <p:menuitem value="Mis Seguidores"  url="../protegido/me_sigue.xhtml" icon="pi pi-briefcase" />
                <p:separator />
                <p:menuitem value="A quien seguir" url="../protegido/seguir.xhtml" icon="pi pi-briefcase" />
        </p:submenu>
 
        <p:submenu label="Mantenimiento" icon="pi pi-pencil">
                <p:menuitem value="Personas"  url="../protegido/personas.xhtml" icon="pi pi-angle-double-left" />
                <p:separator />
                <p:menuitem value="Usuario"  url="/protegido/usuarios.xhtml" icon="pi pi-angle-double-right" />
                <p:separator />
                <p:menuitem value="Roles"  url="../protegido/roles.xhtml" icon="pi pi-angle-double-left" />
                <p:separator />
                <p:menuitem value="Asignar Roles"  url="../protegido/asignar.xhtml" icon="pi pi-angle-double-right" />
         </p:submenu>
         
         <p:menuitem value="Seguidores" url="/protegido/rep_seguidores.xhtml" icon="pi pi-print" />
 
        <f:facet name="options">
            <p:commandButton value="Cerrar sesión" icon="pi pi-home" actionListener="#{masterBean.cerrarSesion()}" 
            action="index?faces-redirect=true" immediate="true"/>
        </f:facet>
    </p:menubar>
</ui:insert>
<ui:insert name="content"></ui:insert>
<ui:insert name="footer">
	<div>Copyright Yahaira Loarte, 2020 Análisis de Sistemas</div>
</ui:insert>
</body>
</html>